.cell {
  border: 1px solid $light-grey;
  font-size: 3.2rem;
  height: 50px;
  outline: none;
  padding: 1rem;
  text-align: center;
  width: 50px;
  color: #777;
}

.cell.error {
  color: #cc0000;
}

.cell:focus {
  border: 2px solid $highlight;
}

.cell.fixed {
  color: #000;
}

.cell.fixed.error {
  color: #880000;
}
