.cell {
  border: 1px solid $light-grey;
  font-size: 2rem;
  height: 50px;
  outline: none;
  padding: 1rem;
  text-align: center;
  width: 50px;
}

.cell.error {
  color: #cc0000;
}

.cell:focus {
  border: 2px solid $highlight;
}
