header {
  text-align: center;
  width: 100%;
}

header h1 {
  font-family: sans-serif;
  font-size: 4.8rem;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 60rem;
}
